body {
  background-color: #fce4ec;
  color: #333;
}
.navbar,
footer {
  background-color: #f8bbd0;
}

.nav-link {
  border-radius: 10px;
  margin-right: 5px;
}

.nav-link:hover {
  background-color: #d81b60;
  color: white;
}

/* .home {
} */

.teks-home {
  margin-bottom: 200px;
}

.gambar {
  border-radius: 20px;
  margin-top: 130px;
}
hr {
  width: 200px;
  margin: auto;
  border-top: 3px solid #ff69b4;
  padding-bottom: 50px;
}
#portfolio img {
  background-size: cover;
  width: 100%;
}

.estetik {
  margin-top: 100px;
  margin-bottom: 100px;
}

footer a {
  padding-right: 20px;
  color: black;
}
.fdiv {
  display: inline-block;
  margin-left: 30px;
}
.af {
  text-decoration: none;
}
.af:hover {
  text-decoration: underline;
  color: #d81b60;
}

.nunito {
  font-family: "nunito";
}

.btn-primary {
  background-color: #d81b60;
  border-color: #d81b60;
}
.btn-primary:hover {
  background-color: #c2185b;
  border-color: #c2185b;
  box-shadow: 2px 2px 5px black;
}

footer {
  margin-top: 100px;
}
